@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
/*Nav*/
.main-nav button {
  position: relative;
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
  width: 3rem;
  height: 2.4rem;
  padding: 1rem 0;
  background-color: black;
  background-clip: content-box;
  transition: 0.3s;
}

.main-nav button::before,
.main-nav button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.4rem;
  background-color: black;
  transition: 0.3s;
  transform-origin: left;
}

.main-nav button::before {
  top: 0;
}

.main-nav button::after {
  bottom: 0;
}

.main-nav button[aria-expanded=true] {
  background-color: rgba(255, 255, 255, 0);
}

.main-nav button[aria-expanded=true]::before {
  transform: rotate(43deg);
}

.main-nav button[aria-expanded=true]::after {
  transform: rotate(-43deg);
}

.main-nav .menu {
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 0;
  right: 10%;
  display: block;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 10rem;
}

.main-nav .menu:not([hidden]) {
  transform: translateX(0);
}

.main-nav a {
  display: block;
  padding: 1rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.current-menu-item,
.menu a:hover,
.menu a:focus {
  color: #b5b6b8;
  background-color: #fff;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.bg {
  position: fixed;
  left: 0;
  z-index: -5;
  width: 100%;
}

.bg img {
  width: 100%;
}

/*Home*/
.home-hero {
  background-image: url(../pics/hero-background.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.hero-content h1 {
  font-size: 2em;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(12, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.arowdown {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-30%, -30%);
}

.arowdown span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid orange;
  border-right: 5px solid orange;
  transform: rotate(45deg);
  margin-top: -10px;
  animation: down 2s infinite;
}

.arowdown span:nth-child(2) {
  animation-delay: -0.2s;
}

.arowdown span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
.radio {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100rem;
  background: transparent;
  animation-name: noir;
  animation-duration: 0.2s;
  animation-delay: 14.5s;
  animation-fill-mode: forwards;
}

.cross {
  color: transparent;
  animation-name: xnoir;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  font-size: 0.9rem;
}
.cross__fe {
  animation-delay: 15.5s;
}
.cross__fs {
  animation-delay: 16.5s;
}

.ff {
  position: relative;
  width: max-content;
  font-family: "Source Code Pro", monospace;
  font-size: clamp(1rem, 3vw+1rem, 4rem);
  margin-left: 0.5rem;
  z-index: 5;
}

.ff::before,
.ff::after {
  content: "";
  position: absolute;
  inset: 0;
}

.ff::before {
  background: #d1d5db;
}

.ff::after {
  width: 0.125em;
  background: transparent;
}

.ff__n::before {
  animation-name: write;
  animation-duration: 0.7s;
  animation-timing-function: steps(4);
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
.ff__n::after {
  animation: write 0.7s steps(4) 0.8s forwards, noir 750ms steps(4) 3;
}
.ff__p::before {
  animation: write 1.3s steps(7) 2.2s forwards;
}
.ff__p::after {
  animation: write 1.3s steps(7) 2.2s forwards, noir 750ms steps(7) 2.2s 4;
}
.ff__a::before {
  animation: write 1s steps(2) 5.5s forwards;
}
.ff__a::after {
  animation: write 1s steps(2) 5.5s forwards, noir 750ms steps(2) 5.5s 3;
}
.ff__l::before {
  animation: write 1.3s steps(5) 8s forwards;
}
.ff__l::after {
  animation: write 1.3s steps(5) 8s forwards, noir 750ms steps(5) 8s 3;
}
.ff__d::before {
  animation: write 3s steps(15) 10s forwards;
}
.ff__d::after {
  animation: write 3s steps(15) 10s forwards, noir 750ms steps(15) 10s 4;
}
.ff__o::before {
  animation: write 1.5s steps(4) 13s forwards;
}
.ff__o::after {
  animation: write 1.5s steps(4) 13s forwards, noir 750ms steps(4) 13s 4;
}
.ff__q1::before {
  animation: write 1.5s steps(8) 17.5s forwards;
}
.ff__q1::after {
  animation: write 1.5s steps(8) 17.5s forwards, noir 750ms steps(8) 17.5s 3;
}
.ff__q2::before {
  animation: write 1.5s steps(8) 19.5s forwards;
}
.ff__q2::after {
  animation: write 1.5s steps(8) 19.5s forwards, noir 750ms steps(8) 19.5s 3;
}
.ff__q3::before {
  animation: write 1.5s steps(8) 21.5s forwards;
}
.ff__q3::after {
  animation: write 1.5s steps(8) 21.5s forwards, noir 750ms steps(8) 21.5s 3;
}
.ff__q4::before {
  animation: write 1.5s steps(10) 23.5s forwards;
}
.ff__q4::after {
  animation: write 1.5s steps(10) 23.5s forwards, noir 750ms steps(10) 23.5s 3;
}
.ff__q5::before {
  animation: write 1.5s steps(7) 25.5s forwards;
}
.ff__q5::after {
  animation: write 1.5s steps(7) 25.5s forwards, noir 750ms steps(7) 25.5s 3;
}
.ff__cvpj::before {
  animation: write 0.2s steps(1) 28s forwards;
}
.ff__cvpj::after {
  animation: write 0.2s steps(1) 28s forwards, noir 750ms steps(1) 28s infinite;
}

@keyframes write {
  to {
    left: 100%;
  }
}
@keyframes noir {
  to {
    background: black;
  }
}
@keyframes xnoir {
  to {
    color: black;
  }
}
.cn {
  left: -2.5rem;
}

.cp {
  left: -4.4rem;
}

.ca {
  left: -1.4rem;
}

.cl {
  left: -3.2rem;
}

.cd {
  left: -9.2rem;
}

.co {
  left: -2.6rem;
}

.cq4 {
  left: -6.2rem;
}

.cq5 {
  left: -4.4rem;
}

.imgtec {
  width: 2rem;
  height: 2rem;
}

.progress__bar {
  transform: scaleX(0.5);
  transform-origin: left;
  animation-name: progress-bar;
  animation-duration: 5000ms;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-play-state: paused;
}
.progress__bar--html {
  background-color: #e34f26;
}
.progress__bar--css {
  background-color: #0277BD;
}
.progress__bar--js {
  background-color: #F5DD1B;
}
.progress__bar--php {
  background-color: #777BB3;
}
.progress__bar--sass {
  background-color: #BE608B;
}
.progress__bar--wp {
  background-color: #21759B;
}
.progress__bar--tw {
  background-color: #53BAB5;
}
.progress__bar--lav {
  background-color: #E74430;
}
.progress__bar--lag {
  background-color: #39B0FF;
}
.progress__bar--rea {
  background-color: #00CCFF;
}
.progress__bar--vue {
  background-color: #41B883;
}
.progress__bar--sql {
  background-color: #E58E00;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.pf__cv,
.pf__sss,
.pf__dw,
.pf__st {
  min-height: 17rem;
}

.pf__cv--img,
.pf__sss--img,
.pf__st--img,
.pf__dw--img,
.pf__gt--img {
  width: 20rem;
  border-radius: 100rem;
  border: 0px solid #000000;
  cursor: pointer;
}

.pf__cv:before,
.pf__sss:before,
.pf__dw:before,
.pf__st:before,
.pf__gt:before,
.pf__sss:after,
.pf__dw:after,
.pf__st:after,
.pf__cv:after,
.pf__gt:after {
  content: "";
  display: table;
}

.trans,
.gith {
  transition: border-radius 1500ms;
}

.pf__cv--img:hover,
.pf__sss--img:hover,
.pf__st--img:hover,
.pf__dw--img:hover,
.pf__gt--img:hover {
  border-radius: 10px;
  transition-delay: 500ms;
}

.modale {
  animation: fadeIn ease 2s;
}

.modal {
  top: 150rem;
  left: 0;
}

.modalapp {
  top: 260rem;
  left: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -200px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}
.imgmod {
  width: 15rem;
  height: 10rem;
}

.arrow {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

body {
  margin: 0;
  padding: 0;
}

/*-resp 640px-*/
@media (min-width: 40em) {
  .imgmod {
    width: 25rem;
    height: 25rem;
  }
}
.texta {
  min-height: 10rem;
}

/*-resp 768px-*/
/*-resp 1024px-*/
@media (min-width: 64em) {
  .imgmod {
    width: 40rem;
    height: 40rem;
  }

  .menu {
    display: flex;
  }

  .main-nav button {
    display: none;
  }

  .main-nav .menu {
    position: static;
    display: flex;
    transform: translateX(0);
    transition: 0.3s;
  }
}
/*-resp 1280px-*/
@media (min-width: 80em) {
  .desc {
    min-height: 60px;
  }
}
/*-resp 1360px-*/

/*# sourceMappingURL=styles.css.map */
