@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
body {
  font-family: "Sniglet", cursive;
  background-color: #e5e7eb;
}

h2 {
  font-weight: 700;
  z-index: 9;
  justify-self: center;
  margin-bottom: 0.5rem;
}

.line {
  border: black solid 1px;
  width: 5rem;
  justify-self: center;
  margin: 2.5rem 0 4rem 0;
}

.bgtitle {
  font-size: 3rem;
  color: #d1d5db;
  position: absolute;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
  left: 0;
  right: 0;
  line-height: 1;
}

/*Nav*/
.nav {
  grid-column: span 6;
}

.main-nav button {
  position: relative;
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
  width: 3rem;
  height: 2.4rem;
  padding: 1rem 0;
  background-color: black;
  background-clip: content-box;
  transition: 0.3s;
}

.main-nav button::before,
.main-nav button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.4rem;
  background-color: black;
  transition: 0.3s;
  transform-origin: left;
}

.main-nav button::before {
  top: 0;
}

.main-nav button::after {
  bottom: 0;
}

.main-nav button[aria-expanded=true] {
  background-color: rgba(255, 255, 255, 0);
}

.main-nav button[aria-expanded=true]::before {
  transform: rotate(43deg);
}

.main-nav button[aria-expanded=true]::after {
  transform: rotate(-43deg);
}

.main-nav .menu {
  position: absolute;
  z-index: 10;
  top: 110%;
  left: 0;
  right: 10%;
  display: block;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 10rem;
  background-color: #e5e7eb;
  border: #d1d5db solid 1px;
  text-align: center;
}

.main-nav .menu:not([hidden]) {
  transform: translateX(0);
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-nav a {
  display: block;
  padding: 1rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.current-menu-item,
.menu a:hover,
.menu a:focus {
  color: #9ca3af;
  background-color: white;
}

.myname {
  margin-right: 1rem;
  font-weight: 700;
}

.fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.md1 {
  background-image: url(../pics/mydesk1024a.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.md2 {
  background-image: url(../pics/mydesk1024b.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-hero {
  background-image: url(../pics/hero.webp);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.hero-content h1 {
  font-size: 2em;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(12, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.arowdown {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-30%, -30%);
}

.arowdown span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid orange;
  border-right: 5px solid orange;
  margin-top: -10px;
  animation: down 2s infinite;
}

.arowdown span:nth-child(2) {
  animation-delay: -0.2s;
}

.arowdown span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
.msgfix {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  position: fixed;
  height: 5rem;
  width: 15rem;
  bottom: 5rem;
  left: 0;
  transform: translateX(-100%);
  animation-name: urg;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes urg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.pres {
  background-color: white;
  padding: 6rem 1rem;
  grid-column: span 6;
  display: grid;
}

.fffpart1 {
  display: flex;
  flex-direction: row;
  margin: -0.75rem 0 0.25rem 0;
  white-space: nowrap;
}

.ff {
  display: flex;
}
.ff__1 {
  flex-direction: row;
  margin: -0.75rem 0 0.25rem 0;
  white-space: nowrap;
}
.ff__1__lab {
  display: flex;
  flex-direction: column;
}
.ff__1__lab__field {
  border: #d1d5db solid 1px;
  background: #d1d5db;
  border-radius: 0.25rem;
  height: 1.5rem;
  position: relative;
  margin-left: 0.25rem;
  top: -1.5rem;
}
.ff__2 {
  flex-direction: column;
  margin-top: 0.5rem;
}
.ff__2__title {
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
.ff__2__lab {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.ff__2__lab__select {
  border: black solid 1px;
  height: 1rem;
  width: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}
.ff__3 {
  flex-direction: column;
  align-items: center;
}
.ff__3__title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.ff__3__label {
  display: flex;
  flex-direction: column;
  margin-bottom: -0.5rem;
}
.ff__3__label__field {
  border: #d1d5db solid 1px;
  background-color: #d1d5db;
  border-radius: 0.25rem;
  height: 1.5rem;
  width: 7rem;
  position: relative;
  top: -1.5rem;
}
.ff__4 {
  flex-direction: column;
  align-items: center;
  margin-top: -6rem;
}
.ff__4__title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.ff__4__lab {
  display: flex;
  flex-direction: column;
}
.ff__4__lab__field {
  border: #d1d5db solid 1px;
  background-color: #d1d5db;
  border-radius: 0.25rem;
  width: 16rem;
  position: relative;
  height: 1.5rem;
  top: -1.5rem;
}
.ff__4__buton {
  border: #6b7280 solid 1px;
  background-color: #d1d5db;
  border-radius: 0.25rem;
  height: 1.5rem;
  width: 9rem;
  margin-top: 0.5rem;
}
.ff__4__buton:hover {
  background-color: #9ca3af;
}
.ff__5 {
  flex-direction: column;
}
.ff__5__title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.ff__5__area {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 0.5rem;
}
.ff__5__area__txt {
  visibility: hidden;
  z-index: 5;
  font-family: "Source Code Pro", monospace;
}
.ff__5__area__field {
  border: #d1d5db solid 1px;
  background-color: #d1d5db;
  border-radius: 0.25rem;
  position: relative;
  top: -10rem;
}

.radio {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100rem;
  background: transparent;
  animation-name: noir;
  animation-duration: 0.2s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.cross {
  color: transparent;
  animation-name: xnoir;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  font-size: 0.9rem;
}
.cross__fe {
  animation-delay: 8s;
}
.cross__fs {
  animation-delay: 9s;
}

.ffanim {
  position: relative;
  width: max-content;
  font-family: "Source Code Pro", monospace;
  font-size: clamp(1rem, 3vw+1rem, 4rem);
  margin-left: 0.5rem;
  z-index: 5;
}

.ffanim::before,
.ffanim::after {
  content: "";
  position: absolute;
  inset: 0;
}

.ffanim::before {
  background: #d1d5db;
}

.ffanim::after {
  width: 0.125em;
  background: transparent;
}

.ffanim__n::before {
  animation-name: write;
  animation-duration: 0.5s;
  animation-timing-function: steps(4);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.ffanim__n::after {
  animation: write 0.5s steps(4) 0.5s forwards, noir 750ms steps(4) 1;
}
.ffanim__p::before {
  animation: write 0.6s steps(7) 1.2s forwards;
}
.ffanim__p::after {
  animation: write 0.6s steps(7) 1.2s forwards, noir 750ms steps(7) 1.2s 2;
}
.ffanim__a::before {
  animation: write 0.6s steps(2) 2.3s forwards;
}
.ffanim__a::after {
  animation: write 0.5s steps(2) 2.3s forwards, noir 750ms steps(2) 2.3s 2;
}
.ffanim__l::before {
  animation: write 0.5s steps(5) 3.5s forwards;
}
.ffanim__l::after {
  animation: write 0.5s steps(5) 3.5s forwards, noir 750ms steps(5) 3.5s 2;
}
.ffanim__d::before {
  animation: write 1s steps(15) 4.7s forwards;
}
.ffanim__d::after {
  animation: write 1s steps(15) 4.7s forwards, noir 750ms steps(15) 4.7s 2;
}
.ffanim__o::before {
  animation: write 0.5s steps(4) 6s forwards;
}
.ffanim__o::after {
  animation: write 0.5s steps(4) 6s forwards, noir 750ms steps(4) 6s 2;
}
.ffanim__q1::before {
  animation: write 0.5s steps(8) 10s forwards;
}
.ffanim__q1::after {
  animation: write 0.5s steps(8) 10s forwards, noir 750ms steps(8) 10s 2;
}
.ffanim__q2::before {
  animation: write 0.5s steps(8) 11s forwards;
}
.ffanim__q2::after {
  animation: write 0.5s steps(8) 11s forwards, noir 750ms steps(8) 11s 2;
}
.ffanim__q3::before {
  animation: write 0.5s steps(8) 12s forwards;
}
.ffanim__q3::after {
  animation: write 0.5s steps(8) 12s forwards, noir 750ms steps(8) 12s 2;
}
.ffanim__q4::before {
  animation: write 0.5s steps(10) 13s forwards;
}
.ffanim__q4::after {
  animation: write 0.5s steps(10) 13s forwards, noir 750ms steps(10) 13s 2;
}
.ffanim__q5::before {
  animation: write 0.5s steps(7) 14s forwards;
}
.ffanim__q5::after {
  animation: write 0.5s steps(7) 14s forwards, noir 750ms steps(7) 14s 2;
}
.ffanim__cvpj::before {
  animation: write 0.2s steps(1) 25s forwards;
}
.ffanim__cvpj::after {
  animation: write 0.2s steps(1) 25s forwards, noir 750ms steps(1) 25s 0;
}

@keyframes write {
  to {
    left: 100%;
  }
}
@keyframes noir {
  to {
    background: black;
  }
}
@keyframes xnoir {
  to {
    color: black;
  }
}
.compe {
  background-color: #f3f4f6;
  padding: 6rem 1rem 6rem 1rem;
  display: grid;
  grid-column: span 6;
}
.compe__text {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  grid-column: span 6;
}
.compe__xp {
  grid-column: span 6;
  display: grid;
}
.compe__xp__part__tec {
  position: relative;
  padding-top: 0.25rem;
  margin: 0 1rem;
}
.compe__xp__part__tec__high {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.compe__xp__part__tec__high--text {
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-block;
}
.compe__xp__part__tec__progress {
  overflow: hidden;
  height: 1.25rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  display: flex;
  border-radius: 0.25rem;
}

.imgtec {
  width: 2rem;
  height: 2rem;
}

.progress__bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  box-shadow: none;
  transform: scaleX(0.5);
  transform-origin: left;
  animation-name: progress-bar;
  animation-duration: 5000ms;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-play-state: paused;
}
.progress__bar--html {
  background-color: #e34f26;
}
.progress__bar--css {
  background-color: #0277BD;
}
.progress__bar--js {
  background-color: #F5DD1B;
}
.progress__bar--php {
  background-color: #777BB3;
}
.progress__bar--sass {
  background-color: #BE608B;
}
.progress__bar--wp {
  background-color: #21759B;
}
.progress__bar--tw {
  background-color: #53BAB5;
}
.progress__bar--lav {
  background-color: #E74430;
}
.progress__bar--lag {
  background-color: #39B0FF;
}
.progress__bar--rea {
  background-color: #00CCFF;
}
.progress__bar--vue {
  background-color: #41B883;
}
.progress__bar--sql {
  background-color: #E58E00;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.port {
  display: grid;
  background-color: #f3f4f6;
  padding: 6rem 1rem 6rem 1rem;
}
.port__text {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.pf__cv,
.pf__sss,
.pf__dw,
.pf__st {
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pf__cv--title,
.pf__sss--title,
.pf__dw--title,
.pf__st--title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.pf__cv--img,
.pf__sss--img,
.pf__st--img,
.pf__dw--img,
.pf__gt--img {
  width: 20rem;
  border-radius: 100rem;
  border: 0px solid #000000;
  cursor: pointer;
}

.pf__cv:before,
.pf__sss:before,
.pf__dw:before,
.pf__st:before,
.pf__gt:before,
.pf__sss:after,
.pf__dw:after,
.pf__st:after,
.pf__cv:after,
.pf__gt:after {
  content: "";
  display: table;
}

.trans,
.gith {
  transition: border-radius 1500ms;
}

.pf__cv--img:hover,
.pf__sss--img:hover,
.pf__st--img:hover,
.pf__dw--img:hover,
.pf__gt--img:hover {
  border-radius: 10px;
  transition-delay: 500ms;
}

.dark {
  background-color: black;
  opacity: 0.5;
  z-index: 20;
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.modal {
  animation: fadeIn ease 2s;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 20rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -200px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}
.imgmod {
  width: 15rem;
  height: 10rem;
}

.contact {
  background-color: white;
  display: grid;
  grid-column: span 6;
  padding: 6rem 1rem 6rem 1rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form__part {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.contact__form__part__input {
  background-color: #f3f4f6;
  border: #e5e7eb solid 1px;
  border-radius: 0.125rem;
}
.contact__form__part__input--texta {
  min-height: 10rem;
}

.arrow {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.foo {
  display: grid;
  background-color: #f3f4f6;
}
.foo__nav {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-resp 640px-*/
@media (min-width: 40em) {
  .imgmod {
    width: 16rem;
    height: 11rem;
  }

  .modal {
    width: 30rem;
  }
}
/*-resp 768px-*/
@media (min-width: 48em) {
  .imgmod {
    width: 18rem;
    height: 13rem;
  }

  .modal {
    width: 40rem;
  }
}
/*-resp 1024px-*/
@media (min-width: 64em) {
  .imgmod {
    width: 20rem;
    height: 15rem;
  }

  .modal {
    width: 55rem;
  }

  .menu {
    display: flex;
  }

  .main-nav button {
    display: none;
  }

  .main-nav .menu {
    position: static;
    display: flex;
    transform: translateX(0);
    transition: 0.3s;
    border: none;
  }
}
/*-resp 1280px-*/
@media (min-width: 80em) {
  .imgmod {
    width: 22rem;
    height: 17rem;
  }

  .modal {
    width: 65rem;
  }

  .desc {
    min-height: 60px;
  }
}
/*-resp 1360px-*/

/*# sourceMappingURL=styles.css.map */
