@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

//color gray
$gray1: #f3f4f6;
$gray2: #e5e7eb;
$gray3: #d1d5db;
$gray4: #9ca3af;
$gray5: #6b7280;

body{
    font-family: 'Sniglet', cursive;
    background-color: $gray2;
}

//section title
h2{
    font-weight: 700;
    z-index: 9;
    justify-self: center;
    margin-bottom: .5rem;
}
.line{
    border: black solid 1px;
    width: 5rem;
    justify-self: center;
    margin: 2.5rem 0 4rem 0;
}
.bgtitle{
    font-size: 3rem;
    color: $gray3;
    position: absolute;
    font-weight: 700;
    opacity: 0.5;
    text-align: center;
    left: 0;
    right: 0;
    line-height: 1;
}

/*Nav*/
.nav{
    grid-column: span 6;
}
.main-nav button {
    position: relative;
    font: 0/0 a;
    color: transparent;
    border: 0;
    text-shadow: none;
    width: 3rem;
    height: 2.4rem;
    padding: 1rem 0;
    background-color: black;
    background-clip: content-box;
    transition: .3s;
}
.main-nav button::before,
.main-nav button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0.4rem;
    background-color: black;
    transition: .3s;
    transform-origin: left;
}
.main-nav button::before {
    top: 0;
}
.main-nav button::after {
    bottom: 0;
}
.main-nav button[aria-expanded=true] {
    background-color: rgba(255, 255, 255, 0);
}
.main-nav button[aria-expanded=true]::before {
    transform: rotate(43deg);
}
.main-nav button[aria-expanded=true]::after {
    transform: rotate(-43deg);
}
.main-nav .menu {
    position: absolute;
    z-index: 10;
    top: 110%;
    left: 0;
    right: 10%;
    display: block;
    transform: translateX(-100%);
    transition: .3s;
    width: 10rem;
    background-color: $gray2;
    border: $gray3 solid 1px;
    text-align: center;
}
.main-nav .menu:not([hidden]) {
    transform: translateX(0)
}
.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-nav a {
    display: block;
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.current-menu-item,
.menu a:hover,
.menu a:focus {
    color: $gray4;
    background-color: white;
}
.myname{
    margin-right: 1rem;
    font-weight: 700;
}

//navbar fix to top
.fix{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

//img desk
.md1{
    background-image: url(../pics/mydesk1024a.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.md2{
    background-image: url(../pics/mydesk1024b.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

//home
.home-hero{
    background-image: url(../pics/hero.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}
.hero-content h1{
    font-size: 2em;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3s steps(12, end),
      blink-caret .75s step-end infinite;
  }  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
} 

//fleche scroll down
.arowdown{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-30%, -30%);
}
.arowdown span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid orange;
    border-right: 5px solid orange;
    transform: rotate(45deg);
    margin-top: -10px;
    animation: down 2s infinite;
}
.arowdown span:nth-child(2){
    animation-delay: -0.2s;
}
.arowdown span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(10px,10px);
    }
}

//présentation
.pres{
    background-color: white;
    padding: 6rem 1rem;
    grid-column: span 6;
    display: grid;
}
.fffpart1{
    display: flex;
    flex-direction: row;
    margin: -.75rem 0 .25rem 0;
    white-space: nowrap;
}
.ff{
    display: flex; 
    &__1{
        flex-direction: row;
        margin: -.75rem 0 .25rem 0;
        white-space: nowrap;
        &__lab{
            display: flex;
            flex-direction: column;
            &__field{
                border: $gray3 solid 1px;
                background: $gray3;
                border-radius: 0.25rem;
                height: 1.5rem;
                position: relative;
                margin-left: .25rem;
                top: -1.5rem;
            }
        }
    }
    &__2{
        flex-direction: column;
        margin-top: .5rem;
        &__title{
            text-align: center;
            margin-bottom: .75rem;
            font-weight: 600;
        }
        &__lab{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            &__select{
                border: black solid 1px;
                height: 1rem;
                width: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0 .5rem;
            }
        }
    }
    &__3{
        flex-direction: column;
        align-items: center;
        &__title{
            text-align: center;
            margin-bottom: .5rem;
            font-weight: 600;
        }
        &__label{
            display: flex;
            flex-direction: column;
            margin-bottom: -.5rem;
            &__field{
                border: $gray3 solid 1px;
                background-color: $gray3;
                border-radius: .25rem;
                height: 1.5rem;
                width: 7rem;
                position: relative;
                top: -1.5rem;
            }
        }
    }
    &__4{
        flex-direction: column;
        align-items: center;
        margin-top: -6rem;
        &__title{
            text-align: center;
            margin-bottom: .5rem;
            font-weight: 600;
        }
        &__lab{
            display: flex;
            flex-direction: column;
            &__field{
                border: $gray3 solid 1px;
                background-color: $gray3;
                border-radius: .25rem;
                width: 16rem;
                position: relative;
                height: 1.5rem;
                top: -1.5rem;
            }
        }
        &__buton{
            border: $gray5 solid 1px;
            background-color: $gray3;
            border-radius: .25rem;
            height: 1.5rem;
            width: 9rem;
            margin-top: .5rem;
            &:hover{
                background-color: $gray4;
            }
        }
    }
    &__5{
        flex-direction: column;
        &__title{
            text-align: center;
            margin-bottom: .5rem;
            font-weight: 600;
        }
        &__area{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            padding: 0 .5rem;
            &__txt{
                visibility: hidden;
                z-index: 5;
                font-family: "Source Code Pro", monospace;
            }
            &__field{
                border: $gray3 solid 1px;
                background-color: $gray3;
                border-radius: .25rem;
                position: relative;
                top: -10rem;
            }
        }
    }
}

//anim formulaire
.radio{
    width: .5rem;
    height: .5rem;
    border-radius: 100rem;
    background: transparent;
    animation-name: noir;
    animation-duration: .2s;
    animation-delay: 7s;
    animation-fill-mode: forwards;

}
.cross{
    color: transparent;
    animation-name: xnoir;
    animation-duration: .2s;    
    animation-fill-mode: forwards;
    font-size: .9rem;

    &__fe{
        animation-delay: 8s;
    }
    &__fs{
        animation-delay: 9s;
    }    
}
.ffanim{
    position: relative;
    width: max-content;
    font-family: "Source Code Pro", monospace;
    font-size: clamp(1rem, 3vw+1rem, 4rem);
    margin-left: .5rem;
    z-index: 5;
}
.ffanim::before,
.ffanim::after{
    content: "";
    position: absolute;
    inset: 0;
}
.ffanim::before{
    background: #d1d5db;
}
.ffanim::after{
    width: 0.125em;
    background: transparent;
}
.ffanim{
    &__n::before{
        animation-name: write;
        animation-duration: .5s;
        animation-timing-function: steps(4);
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        // animation-play-state: paused;
    }
    &__n::after{
        animation: 
            write .5s steps(4) 0.5s forwards, 
            noir 750ms steps(4) 1;
        // animation-play-state: paused;
    }
    &__p::before{
        animation: write .6s steps(7) 1.2s forwards;

    }
    &__p::after{
        animation: 
            write .6s steps(7) 1.2s forwards, 
            noir 750ms steps(7) 1.2s 2;

    }
    &__a::before{
        animation: write .6s steps(2) 2.3s forwards;

    }
    &__a::after{
        animation: 
            write .5s steps(2) 2.3s forwards, 
            noir 750ms steps(2) 2.3s 2;

    }
    &__l::before{
        animation: write .5s steps(5) 3.5s forwards;

    }
    &__l::after{
        animation: 
            write .5s steps(5) 3.5s forwards, 
            noir 750ms steps(5) 3.5s 2;
    }
    &__d::before{
        animation: write 1s steps(15) 4.7s forwards;
    }
    &__d::after{
        animation: 
            write 1s steps(15) 4.7s forwards, 
            noir 750ms steps(15) 4.7s 2;
    }
    &__o::before{
        animation: write .5s steps(4) 6s forwards;
    }
    &__o::after{
        animation: 
            write .5s steps(4) 6s forwards, 
            noir 750ms steps(4) 6s 2;
    }
    &__q1::before{
        animation: write 0.5s steps(8) 10s forwards;
    }
    &__q1::after{
        animation: 
            write .5s steps(8) 10s forwards, 
            noir 750ms steps(8) 10s 2;
    }
    &__q2::before{
        animation: write .5s steps(8) 11s forwards;
    }
    &__q2::after{
        animation: 
            write .5s steps(8) 11s forwards, 
            noir 750ms steps(8) 11s 2;
    }
    &__q3::before{
        animation: write .5s steps(8) 12s forwards;
    }
    &__q3::after{
        animation: 
            write .5s steps(8) 12s forwards, 
            noir 750ms steps(8) 12s 2;
    }
    &__q4::before{
        animation: write .5s steps(10) 13s forwards;
    }
    &__q4::after{
        animation: 
            write .5s steps(10) 13s forwards, 
            noir 750ms steps(10) 13s 2;
    }
    &__q5::before{
        animation: write .5s steps(7) 14s forwards;
    }
    &__q5::after{
        animation: 
            write 0.5s steps(7) 14s forwards, 
            noir 750ms steps(7) 14s 2;
    }
    // &__area::before{
    //     animation: write 5s steps(281) 28s forwards;
    // }
    // &__area::after{
    //     animation: 
    //         write 5s steps(281) 28s forwards, 
    //         noir 750ms steps(281) 28s infinite;
    // }
    &__cvpj::before{
        animation: write .2s steps(1)  25s forwards;
    }
    &__cvpj::after{
        animation: 
            write .2s steps(1) 25s forwards, 
            noir 750ms steps(1) 25s 0;
    }    
}
@keyframes write {
    to {
        left: 100%;
    }
}
@keyframes noir {
    to {
        background: black
    }
}
@keyframes xnoir {
    to {
        color: black
    }
}

//competence
.compe{
    background-color: $gray1;
    padding: 6rem 1rem 6rem 1rem;
    display: grid;
    grid-column: span 6;
    &__text{
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        grid-column: span 6;
    }
    &__xp{
        grid-column: span 6;
        display: grid;
        &__part{            
            &__tec{
                position: relative;
                padding-top: .25rem;
                margin: 0 1rem;
                &__high{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .5rem;
                    &--text{
                        font-size: .75rem;
                        font-weight: 600;
                        display: inline-block;
                        

                    }
                }
                &__progress{
                    overflow: hidden;
                    height: 1.25rem;
                    margin-bottom: 1rem;
                    font-size: .75rem;
                    display: flex;
                    border-radius: .25rem;
                }
            }
        }
    }
}
.imgtec{
    width: 2rem;
    height: 2rem;
}

$prog-bar-dure: 5000ms;
$prog-bar-delay: 1000ms;
$html: #e34f26;
$css: #0277BD;
$js: #F5DD1B;
$php: #777BB3;
$sass: #BE608B;
$wp: #21759B;
$tw: #53BAB5;
$lav: #E74430;
$lag: #39B0FF;
$rea: #00CCFF;
$vue: #41B883;
$sql: #E58E00;


.progress{
    &__bar{        
        display: flex;
        flex-direction: column;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        box-shadow: none;
        transform: scaleX(0.5);
        transform-origin: left;
        // animation: progress-bar $prog-bar-dure $prog-bar-delay alternate both;
        animation-name: progress-bar;
        animation-duration: $prog-bar-dure;
        animation-delay: $prog-bar-delay;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-play-state: paused;
        &--html{
            background-color: $html;
        }
        &--css{
            background-color: $css;
        }
        &--js{
            background-color: $js;
        }
        &--php{
            background-color: $php;
        }
        &--sass{
            background-color: $sass;
        }
        &--wp{
            background-color: $wp;
        }
        &--tw{
            background-color: $tw;
        }
        &--lav{
            background-color: $lav;
        }
        &--lag{
            background-color: $lag;
        }
        &--rea{
            background-color: $rea;
        }
        &--vue{
            background-color: $vue;
        }
        &--sql{
            background-color: $sql;
        }
    }
}
@keyframes progress-bar{
    0% {
        transform: scaleX(0);        
    }
    100%{
        transform: scaleX(1);
    }
}

//portfolio
.port{
    display: grid;
    background-color: $gray1;
    padding: 6rem 1rem 6rem 1rem;
    &__text{
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}
.pf__cv,
.pf__sss,
.pf__dw,
.pf__st{
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--title{
        font-weight: 700;
        font-size: 1.25rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
.pf__cv--img, 
.pf__sss--img,
.pf__st--img,
.pf__dw--img,
.pf__gt--img{
        width: 20rem;
        border-radius: 100rem;
        border: 0px solid #000000;
        cursor: pointer;
}
.pf__cv:before,
.pf__sss:before,
.pf__dw:before,
.pf__st:before,
.pf__gt:before,
.pf__sss:after,
.pf__dw:after,
.pf__st:after,
.pf__cv:after,
.pf__gt:after{
    content: '';
    display: table;
}
.trans,
.gith {
    transition: border-radius 1500ms;    
}
.pf__cv--img:hover,
.pf__sss--img:hover,
.pf__st--img:hover,
.pf__dw--img:hover,
.pf__gt--img:hover{
    border-radius: 10px;
    transition-delay: 500ms;
}

//modal
.dark{
    background-color: black;
    opacity: 0.5;
    z-index: 20;
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.modal{
    animation: fadeIn ease 2s;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 20rem;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        right: -200px;
    }
    100% {
        opacity:1;
        right: 0px;
    }
}
.imgmod{
    width: 15rem;
    height: 10rem;
}

//contact
.contact{
    background-color: white;
    display: grid;
    grid-column: span 6;
    padding: 6rem 1rem 6rem 1rem;
    &__form{
        display: flex;
        flex-direction: column;
        &__part{
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;
            &__input{
                background-color: $gray1;
                border: $gray2 solid 1px;
                border-radius: .125rem;
                &--texta{
                    min-height: 10rem;
                }
            }
        }
    }
}

//fleche go top
.arrow{
    position: fixed;
    bottom: 2%;
    right: 2%;
}

//footer
.foo{
    display: grid;
    background-color: $gray1;
    &__nav{
        grid-column: span 6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


//responsive
/*-resp 640px-*/
@media (min-width: 40em) {
    .imgmod{
        width: 16rem;
        height: 11rem;
    }
    .modal{
        width: 30rem;
    }
}
/*-resp 768px-*/
@media (min-width: 48em) {
    .imgmod{
        width: 18rem;
        height: 13rem;
    }
    .modal{
        width: 40rem;
    }
}
/*-resp 1024px-*/
@media (min-width: 64em) {
    .imgmod{
        width: 20rem;
        height: 15rem;
    }  
    .modal{
        width: 55rem;
    }
    .menu {
        display: flex;
    }
    .main-nav button {
        display: none;
    }
    .main-nav .menu {
        position: static;
        display: flex;
        transform: translateX(0);
        transition: .3s;
        border: none;
    }
}
/*-resp 1280px-*/
@media (min-width: 80em) {
    .imgmod{
        width: 22rem;
        height: 17rem;
    }  
    .modal{
        width: 65rem;
    }
    .desc{
        min-height: 60px;
    }    
}
/*-resp 1360px-*/
@media (min-width: 85em) {
    
}